<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" parallel="tests">

	<test name="Module 1">

		<classes>

			<class
				name="com.continuous.testing.seleniumwithspringboot.testcases.VisaRegistrationTests" />

		</classes>

	</test>

	<test name="Module 2">

		<classes>

			<class
				name="com.continuous.testing.seleniumwithspringboot.testcases.VisaRegistrationTests" />

		</classes>

	</test>

</suite>